apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
data:
  prometheus.yml: |
    global:
      scrape_interval: 10s

    scrape_configs:
      - job_name: "user-manager"
        static_configs:
          - targets: ["user-manager:5003"]

      - job_name: "data-collector"
        static_configs:
          - targets: ["data-collector:5002"]